<h1>Admin &raquo; Dashboard</h1>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Product Information</h3>
  </div>
  <div class="panel-body">
    Number of products in the store: <%= link_to @product_count, '/admin/products' %>
  </div>
</div>